html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    resize: both;
    overflow: auto;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr) repeat(2, 1.5fr) repeat(1, 1fr);
    height: 100%;
    width: 100%;
    background-color: rgba(226,232,240,255);

}

.left_sidebar {
    grid-row: 1 / 6;
    background-color: rgba(25,146,212,255);
}



  